.wrapped {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 30px;
    color: black;

}
.image {
    color: black;
}
.navg {
    color: black;
}

.sample {
    color: black;
}